node_modules/
dist/
*/dist/
*.log
*.local
*.env
.DS_Store
.vscode/
.cursor/
hi-lo-client/node_modules/
hi-lo-client/dist/
hi-lo-server/node_modules/
hi-lo-server/dist/
hi-lo-server/environment.local
hi-lo-server/.env
server-output.log

